unpackaged/main/default/flows/Attendee_RTF_Update_MobilePhone_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if Contact has a Student/Employee ID</description>
        <name>Contact_is_in_PeopleSoft</name>
        <label>Contact is in PeopleSoft?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Mobile_Phone_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Student/Employee ID</defaultConnectorLabel>
        <rules>
            <name>Has_Student_Employee_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Contact.Student_Employee_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Student/Employee ID</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks value of Preferred Phone on Related Contact</description>
        <name>What_is_preferred_Phone</name>
        <label>What is preferred Phone?</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Mobile or Home</defaultConnectorLabel>
        <rules>
            <name>Blank_or_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Contact.hed__PreferredPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Contact.hed__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Preferred_to_Mobile</targetReference>
            </connector>
            <label>Blank or Other</label>
        </rules>
    </decisions>
    <description>Updates Mobile Phone on related Contact if they don&#39;t have a Student/Employee ID
v2: add flow to update Preferred to Mobile if Blank/Other</description>
    <environments>Default</environments>
    <interviewLabel>Attendee_RTF Update MobilePhone on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendee_RTF Update MobilePhone on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Looks for related Contact record</description>
        <name>Get_related_Contact</name>
        <label>Get related Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_is_in_PeopleSoft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.conference360__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mobile_Phone_on_Contact</name>
        <label>Update Mobile Phone on Contact</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>What_is_preferred_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.conference360__Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Preferred PHone to Mobile on related Contact</description>
        <name>Update_Preferred_to_Mobile</name>
        <label>Update Preferred to Mobile</label>
        <locationX>242</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>hed__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile Phone</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.conference360__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Contact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>conference360__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>conference360__Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
