unpackaged/main/default/flows/Attendee_RTFS_Update_Campaign_Member_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if Campaign Member record found</description>
        <name>Check_if_Campaign_Member_exist</name>
        <label>Check if Campaign Member exist?</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check_if_member_is_contact_or_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCampaignMemberExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Campaign_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Campaign Member record found</description>
        <name>Check_if_Campaign_Member_exist_Canceled</name>
        <label>Check if Campaign Member exist?</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check_if_member_is_contact_or_lead_Canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Campaign_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member_Status_Canceled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Campaign Member record found</description>
        <name>Check_if_Campaign_Member_exist_Noshow</name>
        <label>Check if Campaign Member exist?</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check_if_member_is_contact_or_lead_Noshow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCampaignMember1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Campaign_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member_Status_Noshow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Event record found</description>
        <name>Check_if_Event_Record_is_not_Null</name>
        <label>Check if Event Record is not Null</label>
        <locationX>3597</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_event_has_a_related_campaign</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether Campaign Member is a Contact or Lead</description>
        <name>Check_if_member_is_contact_or_lead</name>
        <label>Check if member is contact or lead</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Campaign_Member_Record</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Campaign_Member_Record_lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether Campaign Member is a Contact or Lead</description>
        <name>Check_if_member_is_contact_or_lead_Canceled</name>
        <label>Check if member is contact or lead</label>
        <locationX>2690</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Campaign_Member_Record_Canceled_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Campaign_Member_Record_Canceled_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether Campaign Member is a Contact or Lead</description>
        <name>Check_if_member_is_contact_or_lead_Noshow</name>
        <label>Check if member is contact or lead</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactNoShow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Campaign_Member_Record_NoShow_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>LeadNoShow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Campaign_Member_Record_NoShow_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Contact or Lead field on Attendee is populated</description>
        <name>Check_if_the_attendee_record_is_a_lead_or_contact_or_null</name>
        <label>Check if the attendee record is a lead or contact or null</label>
        <locationX>2624</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_or_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadorContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Campaign_Member</targetReference>
            </connector>
            <label>Lead or Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Campaign field on Event is populated</description>
        <name>Check_if_the_event_has_a_related_campaign</name>
        <label>Check if the event has a related campaign?</label>
        <locationX>3185</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Event.conference360__Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_attendee_record_is_a_lead_or_contact_or_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Registration_Status_of_the_Attendee</name>
        <label>Check the Registration Status of the Attendee</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Attendance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Campaign_Member_exist</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Attendance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No-Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Campaign_Member_exist_Noshow</targetReference>
            </connector>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.conference360__Attendance_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Campaign_Member_exist_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <description>Updates related Campaign Member status to Attended or creates new Campaign Member with corresponding status when Attendance Status is changed to Attended.

v2 update Descriptions on elements
v3: Added No-Show and Canceled to statuses to update in Campaign Member object
v4: picklists updated
v5: removed Check for ORI-OPH, to include all type of event categories.</description>
    <environments>Default</environments>
    <formulas>
        <name>LeadorContactID</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.conference360__Contact__c}),IF(ISNULL({!$Record.conference360__Lead__c}),&quot;&quot;,{!$Record.conference360__Lead__r.Id}),{!$Record.conference360__Contact__r.Id})</expression>
    </formulas>
    <interviewLabel>Attendee_RTFS_Update Campaign Member Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendee_RTFS_Update Campaign Member Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Campaign Member for the Contact with Status = Attended</description>
        <name>Created_Campaign_Member_Record</name>
        <label>Created Campaign Member Record</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.conference360__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Campaign Member for the Contact with Status = Canceled</description>
        <name>Created_Campaign_Member_Record_Canceled_Contact</name>
        <label>Created Campaign Member Record</label>
        <locationX>2426</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.conference360__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Campaign Member for the Lead with Status = Canceled</description>
        <name>Created_Campaign_Member_Record_Canceled_Lead</name>
        <label>Created Campaign Member Record</label>
        <locationX>2690</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.conference360__Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Campaign Member for the Lead with Status = Attended</description>
        <name>Created_Campaign_Member_Record_lead</name>
        <label>Created Campaign Member Record</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.conference360__Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Campaign Member for the Contact with Status = No-Show</description>
        <name>Created_Campaign_Member_Record_NoShow_Contact</name>
        <label>Created Campaign Member Record</label>
        <locationX>1370</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.conference360__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No-Show</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Campaign Member for the Lead with Status = No-Show</description>
        <name>Created_Campaign_Member_Record_NoShow_Lead</name>
        <label>Created Campaign Member Record</label>
        <locationX>1634</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.conference360__Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No-Show</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Looks for a Campaign Member for the Lead/Contact in the related Campaign</description>
        <name>Get_Related_Campaign_Member</name>
        <label>Get Related Campaign Member</label>
        <locationX>1766</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Registration_Status_of_the_Attendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Event.conference360__Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadorContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for a related Open House or Orientation Event</description>
        <name>Get_Related_Event</name>
        <label>Get Related Event</label>
        <locationX>3597</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Event_Record_is_not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.conference360__Event__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>conference360__Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates Campaign Member Status to Attended</description>
        <name>Update_Campaign_Member_Status</name>
        <label>Update Campaign Member Status</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Campaign_Member.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Campaign Member Status to Canceled</description>
        <name>Update_Campaign_Member_Status_Canceled</name>
        <label>Update Campaign Member Status</label>
        <locationX>2162</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Campaign_Member.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Campaign Member Status to No-Show</description>
        <name>Update_Campaign_Member_Status_Noshow</name>
        <label>Update Campaign Member Status</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Campaign_Member.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No-Show</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>3471</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Event</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>conference360__Attendance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <filters>
            <field>conference360__Attendance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No-Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>conference360__Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>conference360__Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
