unpackaged/main/default/flows/Attendee_RTF_Update_Opp_if_Cancel_NoShow_Orientation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Checks the Register for orientation field to FALSE. It also uses changeToggle formula to bypass validation rule.</description>
        <name>Set_Registered_for_Orientation_to_False</name>
        <label>Set Registered for Orientation to False</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_of_the_Opps_found.Registered_for_Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_of_the_Opps_found.Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeToggle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_of_the_Opps_found</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_of_the_Opps_found</targetReference>
        </connector>
    </assignments>
    <description>Unchecks Registered for Orientation on Opps if someone cancels registration or does not attend Orientation
v4: updated so that all Opps associated with a student have the Registered for Orientation status to False
v5: Added Toggle to bypass validation rule.
v6: changed to run every time the conditions are met.
v7: Added update records to clear out Attendance flag on Contact as well.</description>
    <environments>Default</environments>
    <formulas>
        <name>changeToggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Loop_through_all_of_the_Opps_found.Toggle__c} = TRUE,FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>Attendee_RTF Update Opp if Cancel/NoShow Orientation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendee_RTF Update Opp/Contact if Cancel/NoShow Orientation</label>
    <loops>
        <name>Loop_through_all_of_the_Opps_found</name>
        <label>Loop through all of the Opps found</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Opps_Associated_with_Attendee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Registered_for_Orientation_to_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gather all Opps associated with the Contact associated with this Attendee Record</description>
        <name>Get_All_Opps_Associated_with_Attendee</name>
        <label>Get All Opps Associated with Attendee</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_of_the_Opps_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>traa_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.conference360__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Term__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Opps</name>
        <label>Update all Opps</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>collOpp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Attended Orientation checkbox on Contact record associated with Attendee</description>
        <name>Update_Attendance_Flag</name>
        <label>Update Attendance Flag on Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_All_Opps_Associated_with_Attendee</targetReference>
        </connector>
        <inputAssignments>
            <field>Attended_Orientation_BT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orientation_Event__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.conference360__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Attendance_Flag</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Event_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orientation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attendee_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect/Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>conference360__Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>conference360__Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>conference360__Attendance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No-Show</stringValue>
            </value>
        </filters>
        <object>conference360__Attendee__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>collOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
