unpackaged/main/default/flows/Opportunity_RTF_AutoAssign_PCA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email to admins when DML operation fails</description>
        <name>Flow_Failure_Email_Alert</name>
        <label>Flow Failure Email Alert</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gmonten2@mdc.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity_RTF AutoAssignPCA flow failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_FlowFailureEmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>getUseroppCount</name>
        <label>getUseroppCount</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <actionName>OpportunityRTFAutoAssign</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Primary_PCA_on_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>homeCampusOpps</name>
            <value>
                <elementReference>Get_Users_with_Opportuntiy_Home_Campus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityRTFAutoAssign</nameSegment>
        <outputParameters>
            <assignToReference>NumberofopportunitieswithPrevioususer</assignToReference>
            <name>oppCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>userrecordwithlessopportunities</assignToReference>
            <name>userRec</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if any Users were retrieved</description>
        <name>Check_if_users_exist</name>
        <label>Check if users exist?</label>
        <locationX>1238</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Reset_PCA_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesUsersExisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Users_with_Opportuntiy_Home_Campus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUseroppCount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if There&#39;s a past Opp, and also if the PCA that owned the previous Opp is still Active.</description>
        <name>Has_Prior_Opportunity</name>
        <label>Has Prior Opportunity</label>
        <locationX>787</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>If_High_School_is_Known</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prior_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Prior_Opportunity.Primary_PCA__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PCA</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Opp has Current Institution Code</description>
        <name>If_High_School_is_Known</name>
        <label>If High School is Known?</label>
        <locationX>1524</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Campus_Known</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Institution_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_High_School_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Home Campus is populated</description>
        <name>Is_Campus_Known</name>
        <label>Is Campus Known?</label>
        <locationX>1524</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Reset_PCA_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Campus_Known</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Home_Campus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_with_Opportuntiy_Home_Campus</targetReference>
            </connector>
            <label>Yes Campus Known</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if PCA has been updated already</description>
        <name>Is_PCA_Null</name>
        <label>Is PCA Null?</label>
        <locationX>1518</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Reset_PCA_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Has PCA</defaultConnectorLabel>
        <rules>
            <name>No_PCA_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_PCA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PCA_Assignment_trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_Opportunity</targetReference>
            </connector>
            <label>No PCA Assigned</label>
        </rules>
        <rules>
            <name>Has_PCA_and_School_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Institution_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Institution_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>If_High_School_is_Known</targetReference>
            </connector>
            <label>Has PCA and School changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if there is a PCA assigned to the Account record</description>
        <name>PCA_assigned_to_High_School</name>
        <label>PCA assigned to High School</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_Campus_Known</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PCA_Assigned_to_HS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_High_School_Record.PCA_Assigned_to_High_School__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PCA_on_Opportunity_from_HS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When PCA_Assignment_Trigger is set to true it will assign PCA based first on PCA assigned High School and then on PCAs assigned to Campus

V5: Add error handling alerts + update #oppwithprevious default to 10,000
v6: update email recipient
v8: update #oppwithprevious default to 15,000
v9: updated to trigger for certain student types only. And to check if prior opp has an Active PCA.
v15: added Check for only DE students on Opp Get Records</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedYesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Opportunity_RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_RTF AutoAssign PCA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves Account record where School Code = Opp&#39;s Current Institution Code</description>
        <name>Get_High_School_Record</name>
        <label>Get High School Record</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PCA_assigned_to_High_School</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__School_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Current_Institution_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all Users where PCA Assigned Home Campus = Opp&#39;s Home Campus</description>
        <name>Get_Users_with_Opportuntiy_Home_Campus</name>
        <label>Get Users with Opportuntiy Home Campus</label>
        <locationX>1238</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_users_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCA_Assigned_Home_Campus__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Home_Campus__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Opportunities where Term is less than term on Opportunity that triggered the flow</description>
        <name>Prior_Opportunity</name>
        <label>Prior Opportunity</label>
        <locationX>787</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Prior_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>traa_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.traa_Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MDID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MDID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Term_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_PCA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Term_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Unchecks PCA Assigment Trigger checkbox</description>
        <name>Reset_PCA_Trigger</name>
        <label>Reset PCA Trigger</label>
        <locationX>1518</locationX>
        <locationY>2555</locationY>
        <inputAssignments>
            <field>PCA_Assignment_trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Owner_as_PCA</name>
        <label>Update Contact Owner as PCA</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>Flow_Failure_Email_Alert</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.traa_Applicant__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Prior_Opportunity.Primary_PCA__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates owner of Contact with UserId</description>
        <name>Update_Contact_Owner_with_Campus_PCA</name>
        <label>Update Contact Owner with Campus PCA</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Failure_Email_Alert</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.traa_Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>userrecordwithlessopportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Owner of Contact to same High School PCA</description>
        <name>Update_Contact_Owner_with_HS_PCA</name>
        <label>Update Contact Owner with HS PCA</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Failure_Email_Alert</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.traa_Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_High_School_Record.PCA_Assigned_to_High_School__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Copies Previous PCA as Owner, as Primary PCA and resets PCA Assignment Trigger Flag.</description>
        <name>Update_PCA</name>
        <label>Update PCA</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact_Owner_as_PCA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Failure_Email_Alert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Prior_Opportunity.Primary_PCA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCA_Assignment_trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_PCA__c</field>
            <value>
                <elementReference>Prior_Opportunity.Primary_PCA__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updated Owner/Primary PCA with High School PCA and unflags PCA Assignment Trigger</description>
        <name>Update_PCA_on_Opportunity_from_HS</name>
        <label>Update PCA on Opportunity from HS</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Contact_Owner_with_HS_PCA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Failure_Email_Alert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_High_School_Record.PCA_Assigned_to_High_School__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCA_Assignment_trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_PCA__c</field>
            <value>
                <elementReference>Get_High_School_Record.PCA_Assigned_to_High_School__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates PrimaryPCA/Owner to user from record variable in previous loop and unchecks PCA Assignment Trigger</description>
        <name>Update_Primary_PCA_on_Opportunity</name>
        <label>Update Primary PCA on Opportunity</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Update_Contact_Owner_with_Campus_PCA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Failure_Email_Alert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>userrecordwithlessopportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCA_Assignment_trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_PCA__c</field>
            <value>
                <elementReference>userrecordwithlessopportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1392</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_PCA_Null</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Associate Seeking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Career Technical Seeking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificate Seeking Financial Aid Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificate Seeking Non-Financial Aid Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Degree Seeking (not including CE)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Body for email sent when flow fails</description>
        <name>txt_FlowFailureEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Uh-oh, something went wrong. The &quot;OpportunityRTF AutoAssignPCA&quot; flow failed when trying to create or update a record. Please review records:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity ID:&lt;/strong&gt; {!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Name:&lt;/strong&gt; {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact ID:&lt;/strong&gt; {!$Record.traa_Applicant__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact Name:&lt;/strong&gt; {!$Record.traa_Applicant__r.FirstName} {!$Record.traa_Applicant__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error Message:&lt;/strong&gt; {!$Flow.FaultMessage}{!$Flow}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberofopportunitieswithPrevioususer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>15000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>userrecordwithlessopportunities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
