unpackaged/main/default/flows/Opportunity_STF_Bulk_AutoAssign_PCA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds current Opp to var_OppsToUpdate collection to be updated at end of Flow</description>
        <name>Add_Opp_to_Collection_for_Update</name>
        <label>Add Opp to Collection for Update</label>
        <locationX>798</locationX>
        <locationY>3564</locationY>
        <assignmentItems>
            <assignToReference>var_OppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opps_to_be_Assigned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opps_to_be_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates Primary PCA on current Opp to UserID from identified PCA (var_UserWIthLeastOpps)</description>
        <name>Add_PCA_by_Home_Campus_to_Opp</name>
        <label>Add PCA by Home Campus to Opp</label>
        <locationX>1106</locationX>
        <locationY>2448</locationY>
        <assignmentItems>
            <assignToReference>Opps_to_be_Assigned.Primary_PCA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_UserWithLeastOpps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Users_to_selected_Campus_PCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds 1 to Users total Opps (Failed Login Attempts)</description>
        <name>Add_to_HS_PCAs_Count_of_Opps</name>
        <label>Add to HS PCAs Count of Opps</label>
        <locationX>314</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>Get_HS_PCA_User_to_update_Count_of_Opps.NumberOfFailedLogins</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_var_Users_to_remove_HighSchoolPCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds identified PCA back into var_UsersWithOpps collectio nwith new Count of Opps</description>
        <name>Add_updated_CampusPCA_back_to_var_Users</name>
        <label>Add updated CampusPCA back to var_Users</label>
        <locationX>1194</locationX>
        <locationY>3096</locationY>
        <assignmentItems>
            <assignToReference>var_UsersWithOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Campus_PCA_to_update_COunt_of_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campus_PCA_to_update_COunt_of_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds identified PCA back into var_UsersWithOpps collectio nwith new Count of Opps</description>
        <name>Add_updated_HighSchoolPCA_back_to_var_Users</name>
        <label>Add updated HighSchoolPCA back to var_Users</label>
        <locationX>314</locationX>
        <locationY>3012</locationY>
        <assignmentItems>
            <assignToReference>var_UsersWithOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HS_PCA_User_to_update_Count_of_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_HS_PCA_User_to_update_Count_of_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns total # of Opps to number field on User (Failed Login Attempts) for tracking purposes only. User records are not updated in this flow</description>
        <name>Assign_Count_of_Opps</name>
        <label>Assign Count of Opps</label>
        <locationX>138</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Count_of_Opps_per_User.NumberOfFailedLogins</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Opps_to_assigned_to_PCA_in_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_User_to_new_Collection_Users_w_of_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign&#39;s the Accounts assigned PCA User ID to var_HS_PCA_ID_Assignment</description>
        <name>Assign_HS_PCA_ID_to_variable</name>
        <label>Assign HS PCA ID to variable</label>
        <locationX>314</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>var_HS_PCA_ID_Assignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PCA_ID_from_HS_Account.PCA_Assigned_to_High_School__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PCA_ID_from_HS_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Primary PCA on Opp to ID from var_HS_PCA_ID_Assignment</description>
        <name>Assign_HS_PCA_to_Opp</name>
        <label>Assign HS PCA to Opp</label>
        <locationX>226</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>Opps_to_be_Assigned.Primary_PCA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HS_PCA_ID_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_var_Users_to_HighSchoolPCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns UserID to new record var_UserWithLeastOpps and updates var_PreviousUsersTotalOpps to their count of Opps</description>
        <name>Assign_PCA_ID_and_Count_of_Opps_to_User</name>
        <label>Assign PCA ID and Count of Opps to User</label>
        <locationX>1194</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>var_UserWithLeastOpps.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Users_with_Least_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PreviousUsersTotalOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Users_with_Least_Opps.NumberOfFailedLogins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Users_with_Least_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the count of assignable Opps to var_TotalOppsToAssign</description>
        <name>Assign_Total_Opps_to_be_Assigned</name>
        <label>Assign Total Opps to be Assigned</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>var_TotalOppsToAssign</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_assignable_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Opps_to_be_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the User record to new collection var_UsersWithOpps. This record collection will be used in later loops to determine current count of Opps assigned to each PCA to equally distribute new Opps amongst PCAs by Campus where appropriate</description>
        <name>Assign_User_to_new_Collection_Users_w_of_Opps</name>
        <label>Assign User to new Collection: Users w # of Opps</label>
        <locationX>138</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>var_UsersWithOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_of_Opps_per_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Opps_per_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts number of Accounts found in previous collection</description>
        <name>Count_Accounts_matching_Opp_Institution_Code</name>
        <label>Count Accounts matching Opp Institution Code</label>
        <locationX>358</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>var_CountAccountsMatchingOppCode</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_HS_Account_Opp_Institution_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_HS_found_with_same_Opp_Institution_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds 1 to Users total Opps (Failed Login Attempts)</description>
        <name>Increase_Campus_PCA_Count_of_Opps</name>
        <label>Increase Campus PCA Count of Opps</label>
        <locationX>1194</locationX>
        <locationY>2772</locationY>
        <assignmentItems>
            <assignToReference>Get_Campus_PCA_to_update_COunt_of_Opps.NumberOfFailedLogins</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_var_Users_to_Remove_Campus_PCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets variables used in loop to ensure blank values if another Opp enters this loop</description>
        <name>Reset_PCA_HSCount_to_default</name>
        <label>Reset PCA/HSCount to default</label>
        <locationX>226</locationX>
        <locationY>3204</locationY>
        <assignmentItems>
            <assignToReference>var_HS_PCA_ID_Assignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountAccountsMatchingOppCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets variables used in loop to ensure blank values if another Opp enters this loop</description>
        <name>Reset_User_OppsCount_variables_to_default</name>
        <label>Reset User/OppsCount variables to default</label>
        <locationX>1106</locationX>
        <locationY>3288</locationY>
        <assignmentItems>
            <assignToReference>var_PreviousUsersTotalOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UserWithLeastOpps.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Replace existing records in var_UsersWithOpps collection to the new collection without the identified PCA</description>
        <name>Update_var_Users_to_remove_Campus_PCA</name>
        <label>Update var_Users to remove Campus PCA</label>
        <locationX>1194</locationX>
        <locationY>2988</locationY>
        <assignmentItems>
            <assignToReference>var_UsersWithOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_var_Users_to_Remove_Campus_PCA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_CampusPCA_back_to_var_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Replace existing records in var_UsersWithOpps collection to the new collection without the identified PCA</description>
        <name>Update_var_Users_to_remove_HighSchool_PCA</name>
        <label>Update var_Users to remove HighSchool PCA</label>
        <locationX>314</locationX>
        <locationY>2904</locationY>
        <assignmentItems>
            <assignToReference>var_UsersWithOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_var_Users_to_remove_HighSchoolPCA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_HighSchoolPCA_back_to_var_Users</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filters collection of Opps with PCAs where current User = Opp&#39;s Primary PCA</description>
        <name>Filter_Opps_to_assigned_to_PCA_in_loop</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Opps to assigned to PCA in loop</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <assignNextValueToReference>currentItem_Filter_Opps_to_assigned_to_PCA_in_loop_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Opps_with_PCA</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Opps_to_assigned_to_PCA_in_loop_0.Primary_PCA__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Count_of_Opps_per_User.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_of_Opps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter down var_UsersWithOpps collection to identified PCA</description>
        <name>Filter_Users_to_selected_Campus_PCA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Users to selected Campus PCA</label>
        <locationX>1106</locationX>
        <locationY>2556</locationY>
        <assignNextValueToReference>currentItem_Filter_Users_to_selected_Campus_PCA_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UsersWithOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Users_to_selected_Campus_PCA_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_UserWithLeastOpps.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Campus_PCA_to_update_COunt_of_Opps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters down the var_UsersWithOpps collection to Users where PCA Assigned Home Campus = Opp&#39;s Home Campus</description>
        <name>Filter_Users_with_Opp_Home_Campus</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Users with Opp Home Campus</label>
        <locationX>1106</locationX>
        <locationY>1848</locationY>
        <assignNextValueToReference>currentItem_Filter_Users_with_Opp_Home_Campus</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UsersWithOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Users_with_Opp_Home_Campus.PCA_Assigned_Home_Campus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Opps_to_be_Assigned.Home_Campus__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Find_Users_with_Least_Opps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters the var_UsersWithOpps collection to the identified PCA in var_HS_PCA_ID_Assignment</description>
        <name>Filter_var_Users_to_HighSchoolPCA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter var_Users to HighSchoolPCA</label>
        <locationX>226</locationX>
        <locationY>2472</locationY>
        <assignNextValueToReference>currentItem_Filter_var_Users_to_HighSchoolPCA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UsersWithOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_var_Users_to_HighSchoolPCA.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_HS_PCA_ID_Assignment</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_HS_PCA_User_to_update_Count_of_Opps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters var_UsersWithOpps to all Users except the identified PCA. Will be used to temporarily remove them from collection and then add them back in to push the update to their count of Opps back to original collection</description>
        <name>Filter_var_Users_to_Remove_Campus_PCA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter var_Users to Remove Campus PCA</label>
        <locationX>1194</locationX>
        <locationY>2880</locationY>
        <assignNextValueToReference>currentItem_Filter_var_Users_to_Remove_Campus_PCA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UsersWithOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_var_Users_to_Remove_Campus_PCA.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>var_UserWithLeastOpps.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_var_Users_to_remove_Campus_PCA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters var_UsersWithOpps to all Users except the identified PCA. Will be used to temporarily remove them from collection and then add them back in to push the update to their count of Opps back to original collection</description>
        <name>Filter_var_Users_to_remove_HighSchoolPCA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter var_Users to remove HighSchoolPCA</label>
        <locationX>314</locationX>
        <locationY>2796</locationY>
        <assignNextValueToReference>currentItem_Filter_var_Users_to_remove_HighSchoolPCA_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UsersWithOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_var_Users_to_remove_HighSchoolPCA_0.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>var_HS_PCA_ID_Assignment</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_var_Users_to_remove_HighSchool_PCA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters all Accounts from Get All Accounts with PCA to find one where School Code = Opp&#39;s Current Institution Code</description>
        <name>Find_HS_Account_Opp_Institution_Code</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find HS Account = Opp Institution Code</label>
        <locationX>358</locationX>
        <locationY>1740</locationY>
        <assignNextValueToReference>currentItem_Find_HS_Account_Opp_Institution_Code</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Accounts_with_PCA</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_HS_Account_Opp_Institution_Code.hed__School_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Opps_to_be_Assigned.Current_Institution_Code__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Accounts_matching_Opp_Institution_Code</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Used for debug to show total number of Opps assigned to each User at end of Flow</description>
        <name>TEST_Filter_Get_Counts_for_all_Users</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>TEST Filter Get Counts for all Users</label>
        <locationX>50</locationX>
        <locationY>3756</locationY>
        <assignNextValueToReference>currentItem_TEST_Filter_Get_Counts_for_all_Users_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UsersWithOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_TEST_Filter_Get_Counts_for_all_Users_0.NumberOfFailedLogins</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_All_Opps_with_PCA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Collection Filter used in Debug to check count of Opps of Users at start of flow</description>
        <name>TEST_Get_Opps_Count_from_Start</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>TEST- Get Opps Count from Start</label>
        <locationX>50</locationX>
        <locationY>1416</locationY>
        <assignNextValueToReference>currentItem_TEST_Get_Opps_Count_from_Start_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UsersWithOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_TEST_Get_Opps_Count_from_Start_0.PCA_Assigned_Home_Campus__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Opps_to_be_Assigned</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Checks if any assignable Opps were found</description>
        <name>Are_there_Opps_to_be_Assigned</name>
        <label>Are there Opps to be Assigned?</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opps_to_be_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TotalOppsToAssign</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Opps_with_PCA</targetReference>
            </connector>
            <label>Yes Opps to be Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if count of Opps (Failed Login Attempts) on current User is less than var_PreviousUsersTotalOpps (default set to 10,000)</description>
        <name>Check_for_lowest_number_of_Opps_per_User</name>
        <label>Check for lowest number of Opps per User</label>
        <locationX>1326</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>Find_Users_with_Least_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Higher</defaultConnectorLabel>
        <rules>
            <name>Lower_than_previous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Users_with_Least_Opps.NumberOfFailedLogins</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_PreviousUsersTotalOpps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PCA_ID_and_Count_of_Opps_to_User</targetReference>
            </connector>
            <label>Lower than previous</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if any Accounts were found. If no Accounts found it goes to other side of loop to check for Home Campus</description>
        <name>Check_if_HS_found_with_same_Opp_Institution_Code</name>
        <label>Check if HS found with same Opp Institution Code</label>
        <locationX>358</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Opp_have_Home_Campus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching HS Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_HS_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountAccountsMatchingOppCode</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PCA_ID_from_HS_Account</targetReference>
            </connector>
            <label>Yes Matching HS Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Home Campus is populated. If it is not then loop starts again with a new Opp</description>
        <name>Does_Opp_have_Home_Campus</name>
        <label>Does Opp have Home Campus?</label>
        <locationX>1238</locationX>
        <locationY>1740</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Opps_to_be_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Campus</defaultConnectorLabel>
        <rules>
            <name>Home_Campus_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opps_to_be_Assigned.Home_Campus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Users_with_Opp_Home_Campus</targetReference>
            </connector>
            <label>Home Campus Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>CHecks if Current Institution Code is populated</description>
        <name>Does_Opp_have_Institution_Code</name>
        <label>Does Opp have Institution Code?</label>
        <locationX>798</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>Does_Opp_have_Home_Campus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Code on Opp</defaultConnectorLabel>
        <rules>
            <name>Has_Institution_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opps_to_be_Assigned.Current_Institution_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_HS_Account_Opp_Institution_Code</targetReference>
            </connector>
            <label>Has Institution Code</label>
        </rules>
    </decisions>
    <description>Scheduled flow that could be used for bulk assignment of PCA for Opps created on certain date. Set to Active and update Schedule to use it.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity_STF Bulk AutoAssign PCA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_STF Bulk AutoAssign PCA</label>
    <loops>
        <description>Loops through all User records to assign count of their Opps and add them to var_UserswithOpps record collection</description>
        <name>Count_of_Opps_per_User</name>
        <label>Count of Opps per User</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_all_Users_with_Campus_Assigned</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Opps_to_assigned_to_PCA_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TEST_Get_Opps_Count_from_Start</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop on filter collection to find User with smallest count of Opps</description>
        <name>Find_Users_with_Least_Opps</name>
        <label>Find Users with Least Opps</label>
        <locationX>1106</locationX>
        <locationY>1956</locationY>
        <collectionReference>Filter_Users_with_Opp_Home_Campus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_lowest_number_of_Opps_per_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_PCA_by_Home_Campus_to_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop to update count of Opps for the identified PCA and update the var_UsersWithOpps collection to reflect new count of Opps for User</description>
        <name>Get_Campus_PCA_to_update_COunt_of_Opps</name>
        <label>Get Campus PCA to update COunt of Opps</label>
        <locationX>1106</locationX>
        <locationY>2664</locationY>
        <collectionReference>Filter_Users_to_selected_Campus_PCA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Campus_PCA_Count_of_Opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_User_OppsCount_variables_to_default</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop to update count of Opps for the identified PCA and update the var_UsersWithOpps collection to reflect new count of Opps for User</description>
        <name>Get_HS_PCA_User_to_update_Count_of_Opps</name>
        <label>Get HS PCA User to update Count of Opps</label>
        <locationX>226</locationX>
        <locationY>2580</locationY>
        <collectionReference>Filter_var_Users_to_HighSchoolPCA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_HS_PCAs_Count_of_Opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_PCA_HSCount_to_default</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through Account from previous filter collection of Accounts that match Opp&#39;s Current Institution Code</description>
        <name>Get_PCA_ID_from_HS_Account</name>
        <label>Get PCA ID from HS Account</label>
        <locationX>226</locationX>
        <locationY>2064</locationY>
        <collectionReference>Find_HS_Account_Opp_Institution_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_HS_PCA_ID_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_HS_PCA_to_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through each Opp retrieved in the Get All Assignable Opps and assigns to PCA based on high school or home campus</description>
        <name>Opps_to_be_Assigned</name>
        <label>Opps to be Assigned</label>
        <locationX>50</locationX>
        <locationY>1524</locationY>
        <collectionReference>Get_all_assignable_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Opp_have_Institution_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TEST_Filter_Get_Counts_for_all_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves all Account records where PCA Assigned to High School is not blank</description>
        <name>Get_all_Accounts_with_PCA</name>
        <label>Get all Accounts with PCA</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Users_with_Campus_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCA_Assigned_to_High_School__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PCA_Assigned_to_High_School__c</queriedFields>
        <queriedFields>hed__School_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all assignable Opps created yesterday (Stage = Lead/Applicant, Primary PCA = Null, Current Institution Code/Home Campus is not null and Student Type = one of MDC predetermined list)</description>
        <name>Get_all_assignable_Opps</name>
        <label>Get all assignable Opps</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Opps_to_be_Assigned</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6 AND (7 OR 8 OR 9 OR 10 OR 11 OR 12)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_PCA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Institution_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Home_Campus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_Yesterday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Associate Seeking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Career Technical Seeking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificate Seeking Financial Aid Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificate Seeking Non-Financial Aid Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Degree Seeking (not including CE)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Home_Campus__c</queriedFields>
        <queriedFields>Primary_PCA__c</queriedFields>
        <queriedFields>Current_Institution_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Opps with Primary PCA and Stage = Lead/Applicant/Enrolled-Not Paid</description>
        <name>Get_all_Opps_with_PCA</name>
        <label>Get all Opps with PCA</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Accounts_with_PCA</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled-Not Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_PCA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Home_Campus__c</queriedFields>
        <queriedFields>Primary_PCA__c</queriedFields>
        <queriedFields>Current_Institution_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all Users where PCA Assigned Home Campus is not blank</description>
        <name>Get_all_Users_with_Campus_Assigned</name>
        <label>Get all Users with Campus Assigned</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Opps_per_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCA_Assigned_Home_Campus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PCA_Assigned_Home_Campus__c</queriedFields>
        <queriedFields>NumberOfFailedLogins</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates all Opps assigned to collection var_OppsToUpdate</description>
        <name>Update_All_Opps_with_PCA</name>
        <label>Update All Opps with PCA</label>
        <locationX>50</locationX>
        <locationY>3864</locationY>
        <inputReference>var_OppsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_assignable_Opps</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-09</startDate>
            <startTime>18:48:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Opps_to_assigned_to_PCA_in_loop_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Users_to_selected_Campus_PCA_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Users_with_Opp_Home_Campus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_var_Users_to_HighSchoolPCA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_var_Users_to_Remove_Campus_PCA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_var_Users_to_remove_HighSchoolPCA_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_HS_Account_Opp_Institution_Code</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_TEST_Filter_Get_Counts_for_all_Users_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_TEST_Filter_Users_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_TEST_Get_Opps_Count_from_Start_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_CountAccountsMatchingOppCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_CountOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_HS_PCA_ID_Assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_PCAfromHSchool</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PCAOppCount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_PreviousUsersTotalOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TESTNewUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_TESTNewUserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_TotalOppsToAssign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_UsersWithOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_UserWithLeastOpps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
