unpackaged/main/default/flows/Re_Use_It_Campaign_Member_Status_Flow_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Records</name>
        <label>Collect Records</label>
        <locationX>878</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Attended</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cancelled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invited</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Registered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoShow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Donor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Status_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generic_Event_Assignment</name>
        <label>Generic Event Assignment</label>
        <locationX>653</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>Registered.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Peer_to_Peer_Event_Assignment</name>
        <label>Peer to Peer Event Assignment</label>
        <locationX>647</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>Registered.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Donor.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Donor.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Donor.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Donor.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ticketed_Event_Assignment</name>
        <label>Ticketed Event Assignment</label>
        <locationX>646</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>Invited.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoShow.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invited.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invited.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoShow.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invited.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoShow.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invited.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Registered.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoShow.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides whether to update the campaignmemberstatus object or do nothing</description>
        <name>Campaign_Type_Decision</name>
        <label>Campaign Type Decision</label>
        <locationX>168</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>Type Does Not Require Update</defaultConnectorLabel>
        <rules>
            <name>Type_Requires_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peer-to-Peer Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Peer_to_Peer_Event_Assignment</targetReference>
            </connector>
            <label>Peer to Peer Event</label>
        </rules>
        <rules>
            <name>Ticketed_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ticketed Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ticketed_Event_Assignment</targetReference>
            </connector>
            <label>Ticketed Event</label>
        </rules>
        <rules>
            <name>Generic_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generic Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generic_Event_Assignment</targetReference>
            </connector>
            <label>Generic Event</label>
        </rules>
    </decisions>
    <description>Final!</description>
    <interviewLabel>Re-Use It Campaign Member Status Flow - Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-Use It Campaign Member Status Flow - Final</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates all of the *new* status records from the collection variable</description>
        <name>Create_Status_Records</name>
        <label>Create Status Records</label>
        <locationX>1019</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Find_Sent</targetReference>
        </connector>
        <inputReference>CampaignMemberStatusRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Sent</name>
        <label>Delete &#39;Sent&#39; Status</label>
        <locationX>1271</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>GetResponded</targetReference>
        </connector>
        <inputReference>Find_Sent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteResponded</name>
        <label>Delete &#39;Responded&#39; Status</label>
        <locationX>1529</locationX>
        <locationY>364</locationY>
        <inputReference>GetResponded</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Looks for the CampaignMember Status record with the label of &quot;Sent&quot; so we can delete it</description>
        <name>Find_Sent</name>
        <label>Find &#39;Sent&#39; Status</label>
        <locationX>1144</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for the CampaignMember Status record with the label of &quot;Responded&quot; so we can delete it</description>
        <name>GetResponded</name>
        <label>Find &#39;Responded&#39; Status</label>
        <locationX>1405</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteResponded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Campaign_Type_Decision</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Attended</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>CampaignMemberStatusRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>CampaignType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cancelled</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Donor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Invited</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>NoShow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Registered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
</Flow>
