unpackaged/main/default/flows/Re_Use_It_Campaign_Member_Status_Flow_with_Metadata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_CMS_Records_to_Collecion</name>
        <label>Assign CMS Records to Collecion</label>
        <locationX>515</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignMemberStatusRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_for_each_Metadata_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to the campaignmemberstatus records based on the custom metadata records</description>
        <name>Assign_Values_to_Status_Records</name>
        <label>Assign Values to Status Records</label>
        <locationX>590</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecord.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_each_Metadata_Record.Status_Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecord.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_each_Metadata_Record.HasResponded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecord.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_each_Metadata_Record.isDefault__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusRecord.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_each_Metadata_Record.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CMS_Records_to_Collecion</targetReference>
        </connector>
    </assignments>
    <description>Version w/ delete sent &amp; responded
V2: Add Entry Criteria Type=On Campus Info Session
V3: Changed Flow name &amp; Added Entry Criteria Type= On-Campus Tour, Off-Campus Recruitment Event, Virtual Information Session</description>
    <environments>Default</environments>
    <interviewLabel>Re-Use It Campaign Member Status Flow with Metadata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign_RTF Campaign Member Status Flow with Metadata</label>
    <loops>
        <name>Iterate_for_each_Metadata_Record</name>
        <label>Iterate for each Metadata Record</label>
        <locationX>355</locationX>
        <locationY>312</locationY>
        <collectionReference>Get_MetaData_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Status_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Status_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Status_Records</name>
        <label>Create Status Records</label>
        <locationX>611</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Find_Sent_Status</targetReference>
        </connector>
        <inputReference>CampaignMemberStatusCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Responded_Status</name>
        <label>Delete &#39;Responded&#39; Status</label>
        <locationX>1179</locationX>
        <locationY>182</locationY>
        <inputReference>Find_Responded_Status</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Sent_Status</name>
        <label>Delete &#39;Sent&#39; Status</label>
        <locationX>896</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Find_Responded_Status</targetReference>
        </connector>
        <inputReference>Find_Sent_Status</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Looks for the CampaignMember Status record with the label of &quot;Responded&quot; so we can delete it</description>
        <name>Find_Responded_Status</name>
        <label>Find &#39;Responded&#39; Status</label>
        <locationX>1047</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Responded_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for the CampaignMember Status record with the label of &quot;Sent&quot; so we can delete it</description>
        <name>Find_Sent_Status</name>
        <label>Find &#39;Sent&#39; Status</label>
        <locationX>762</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Sent_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MetaData_Records</name>
        <label>Get MetaData Records</label>
        <locationX>119</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_for_each_Metadata_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign_Member_Status_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_MetaData_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On-Campus Information Session</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On-Campus Tour</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off-Campus Recruitment Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtual Information Session</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CampaignMemberStatusCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>CampaignMemberStatusRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
</Flow>
