unpackaged/main/default/flows/Relationship_RTF_Update_S_Success_Advisor_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>v1-2: Updates Advisee&#39;s Student Success Advisor Email, SSA Name, SSA Phone fields with Employee Email, Name, Employee Office Phone</description>
    <environments>Default</environments>
    <interviewLabel>Relationship_RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relationship_RTF Update S Success Advisor on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>If Entry criteria = True, get Information from SSA</description>
        <name>Get_Student_Success_Advisor_Information</name>
        <label>Get Student Success Advisor Information</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Contact_Advisee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Advisee&#39;s SSA Name, SSA Phone, SSA Email fields in Contact</description>
        <name>Update_Related_Contact_Advisee</name>
        <label>Update Related Contact (Advisee)</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Student_Success_Advisor_Email__c</field>
            <value>
                <elementReference>Get_Student_Success_Advisor_Information.Employee_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Success_Advisor_Name__c</field>
            <value>
                <elementReference>Get_Student_Success_Advisor_Information.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Success_Advisor_Phone__c</field>
            <value>
                <elementReference>Get_Student_Success_Advisor_Information.Employee_Office_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.hed__RelatedContact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Student_Success_Advisor_Information</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisee (SCSS)</stringValue>
            </value>
        </filters>
        <object>hed__Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
