unpackaged/main/default/flows/RTF_Update_Opp_when_Register_for_Orientation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Checks the Register for orientation field to true. It also uses changeToggle formula to bypass validation rule</description>
        <name>Set_Registered_for_Orientation_to_True</name>
        <label>Set Registered for Orientation to True</label>
        <locationX>270</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_of_the_Opps_found.Registered_for_Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_of_the_Opps_found.Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeToggle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_of_the_Opps_found</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_of_the_Opps_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Student_attended_orientation</name>
        <label>Has Student attended orientation?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_All_Opps_Associated_with_Attendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student_Attended_Orientation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Attendance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attendance_Flag</targetReference>
            </connector>
            <label>Student Attended Orientation</label>
        </rules>
    </decisions>
    <description>Updates &quot;Registered for Orientation&quot; on Opp with same Term/Contact when a student Attendee registers for Orientation event
V8: Flow now loops through all Opps associated with the Contact associated with the Attendee, and updates Registered for Orientation = TRUE
v12: Added decision tree for Attended Orientation
v13: Added branch to check flag on Contact record when student Attends Orientation event.
V14-15: Updated branch to update attendance flag.</description>
    <environments>Default</environments>
    <formulas>
        <name>changeToggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Loop_through_all_of_the_Opps_found.Toggle__c} = TRUE,FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>RTF_Update Opp when Register for Orientation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendee_RTF_Update Opp/Contact when Register/Attended for Orientation</label>
    <loops>
        <name>Loop_through_all_of_the_Opps_found</name>
        <label>Loop through all of the Opps found</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <collectionReference>Get_All_Opps_Associated_with_Attendee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Registered_for_Orientation_to_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gather all Opps associated with the Contact associated with this Attendee Record</description>
        <name>Get_All_Opps_Associated_with_Attendee</name>
        <label>Get All Opps Associated with Attendee</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_of_the_Opps_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>traa_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.conference360__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Term__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Opps</name>
        <label>Update all Opps</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <inputReference>oppCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Attended Orientation checkbox on Contact record associated with Attendee</description>
        <name>Update_Attendance_Flag</name>
        <label>Update Attendance Flag</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_All_Opps_Associated_with_Attendee</targetReference>
        </connector>
        <inputAssignments>
            <field>Attended_Orientation_BT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orientation_Event__c</field>
            <value>
                <elementReference>$Record.conference360__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.conference360__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Student_attended_orientation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orientation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attendee_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect/Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>conference360__Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>conference360__Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
