unpackaged/main/default/flows/ScrnFlow_Create_Attendees_from_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Ids_to_Looped_records</name>
        <label>Add Ids to Looped records</label>
        <locationX>270</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>attendeeRecordVAR.conference360__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Screen.ContactLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attendeeRecordVAR.conference360__Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attendeeRecordVAR.Attendee_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect/Applicant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attendeeRecordVAR.conference360__Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attendeeRecordVAR.conference360__Event_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attendeeCollectionVAR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>attendeeRecordVAR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addContactIds</name>
        <label>addContactIds</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AddedContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Screen.ContactLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addContactNames</name>
        <label>Copy 1 of addContactNames</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>existingContactNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnGetAttendees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkGetAttendeesareNotNull</name>
        <label>checkGetAttendeesareNotNull</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkAttendeesList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAttendees</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOnGetAttendees</targetReference>
            </connector>
            <label>checkAttendeesList</label>
        </rules>
    </decisions>
    <description>v1: Manually create multiple attendees through screen flow.
v2: Added Finish Screen.
v3: Testing Finish Screen changes.
v4: Added success &amp; error messages.
v5-6: Error message edit.
v7-9: Success message edit.
v10-11: Edited how the flow is runned.
v21-22: Edited duplicate screen.</description>
    <environments>Default</environments>
    <formulas>
        <name>concatNames</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( {!existingContactNames}),{!loopOnGetAttendees.conference360__First_Name2__c}&amp;&#39; &#39;&amp;{!loopOnGetAttendees.conference360__Last_Name2__c},{!existingContactNames}&amp;&#39;,&#39;&amp;{!loopOnGetAttendees.conference360__First_Name2__c}&amp;&#39; &#39;&amp;{!loopOnGetAttendees.conference360__Last_Name2__c})</expression>
    </formulas>
    <interviewLabel>ScrnFlow Create Attendees from Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScrnFlow Create Attendees from Event</label>
    <loops>
        <description>Loops through all of the student records selected by the end user.</description>
        <name>Copy_1_of_Loop_Through_Screen</name>
        <label>Copy 1 of Loop Through Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Repeater1.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addContactIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getAttendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through all of the student records selected by the end user.</description>
        <name>Loop_Through_Screen</name>
        <label>Loop Through Screen</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <collectionReference>Repeater1.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_to_Looped_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOnGetAttendees</name>
        <label>loopOnGetAttendees</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <collectionReference>getAttendees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_addContactNames</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ShowcontactNames</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create All Attendees</description>
        <name>Create_Attendees</name>
        <label>Create Attendees</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>attendeeCollectionVAR</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets Student Event Item that is associated with the Event record where this flow is being triggered.</description>
        <name>Get_Event_Item</name>
        <label>Get Event Item</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>conference360__Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>conference360__Item_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>conference360__Event_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAttendees</name>
        <label>getAttendees</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkGetAttendeesareNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>conference360__Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>conference360__Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AddedContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>conference360__Attendee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>conference360__Contact__c</queriedFields>
        <queriedFields>conference360__First_Name2__c</queriedFields>
        <queriedFields>conference360__Last_Name2__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Display error message to user</description>
        <name>ErrorScreen</name>
        <label>Error</label>
        <locationX>490</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 25, 25);&quot;&gt;Error! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Looks like one or more of the attendees you tried to create are already attendees for the event. Please double check the list of attendees you are trying to add, and try again once you&#39;ve identified the duplicates.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 24, 24);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows end-user to search for attendees to add to an event. (Given they already exist in Salesforce)</description>
        <name>Select_Contacts</name>
        <label>Select Contacts</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Event_Item</targetReference>
        </connector>
        <fields>
            <name>Repeater1</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ContactLookup</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>conference360__Contact__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Select Student</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>conference360__Attendee__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;You can search a student by Introducing their MDID in the search bar.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Create Attendees</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowcontactNames</name>
        <label>ShowcontactNames</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Screen</targetReference>
        </connector>
        <fields>
            <name>showText</name>
            <fieldText>&lt;p&gt;The following attendees have already been added to the event:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!existingContactNames}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please remove them by clicking on the &lt;strong&gt;Previous &lt;/strong&gt;button below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;You&#39;ve successfully created Attendee(s) for the event: &lt;strong&gt;{!Get_Event_Item.conference360__Event__r.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>attendeeCollectionVAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>conference360__Attendee__c</objectType>
    </variables>
    <variables>
        <name>attendeeRecordVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>conference360__Attendee__c</objectType>
    </variables>
    <variables>
        <name>countContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>existingContactNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingContactsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
