unpackaged/main/default/flows/STF_Close_Stalled_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddToTermsList</name>
        <label>AddToTermsList</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>OlderOpportunityTermIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OlderTerrms.MDC_Term_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OlderTerrms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Define a counter variable and increment by 1 number with every iteration. Iteration count starts from 1</description>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindFourthTerm</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>offsetNumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Check if Term is 3 terms older than current term</description>
        <name>FindFourthTerm</name>
        <label>FindFourthTerm</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>OlderTerrms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LT4</defaultConnectorLabel>
        <rules>
            <name>GT3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>offsetNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OlderTerrms.MDC_Term_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToTermsList</targetReference>
            </connector>
            <label>GT3</label>
        </rules>
    </decisions>
    <description>Close Stalled Opportunities when are associated with Term older than three terms from the current term</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns Todays date</description>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>SF Close Stalled Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF Close Stalled Opportunities</label>
    <loops>
        <description>Loops over Term records fetched using get records and will create new list of Term records that aree older than 3 terms from the current term</description>
        <name>OlderTerrms</name>
        <label>OlderTerrms</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Terms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>closeOpportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Terms</name>
        <label>Terms</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OlderTerrms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TodayFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <sortField>hed__Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>closeOpportunities</name>
        <label>closeOpportunities</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OlderOpportunityTermIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_Reason__c</field>
            <value>
                <stringValue>Closed by Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition__c</field>
            <value>
                <stringValue>Inactive Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Terms</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-05-28</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>List of opportunities to be closed and updated</description>
        <name>ClosedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Term__c</objectType>
    </variables>
    <variables>
        <name>OlderOpportunityTermIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Terms where start date older than this date will be considered older terms</description>
        <name>oldTermsStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Counter variable that will increment with every iteration</description>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
